<h1>My Answers</h1>

	<table class="table">
		<tr><th>Questions</th>
<th>Answers</th>
		</tr>
<% @answers.each do |ans| %>
<tr>
<td>	<%= ans.question.question  %></td>
<td>	<%= ans.answer %></td>

<% end %>
</tr>
</table>
