 <h1>ALL QUESTIONS</h1>

<table class="table">
    <thead>
      <tr>
        <th>Topics</th>
             <th>Questions</th>

             <th>Answers</th>
      </tr>
    </thead>
    <tbody>
   
<%  @questions_group_by_topic.each do |topic, questions|    %>
 
      <tr> 
        <td> <%=  topic.name %></td>
  <td><% questions.each do |q| %>
         <%= link_to q.question ,static_pages_contact_path(user_id: current_user.id, id: q.id ) %></td>

            <% q.answers.each do |ans| %>
            <td>
              <%= ans.answer %>
            </td>
              <% end %>
      </tr>
      <% end %>
<% end %>
    </tbody>
</table>