<br><h1>Available topics</h1>
<br>
<% @topics.each do |t|  %>
      <%= t.name %>
        <br>
 <%#= link_to "Delete Topic", user_topic_path( user_id:  current_user.id,id: @topic.id ), method: :delete , remote: true%>


<% end %>