<br><h1>Available topics</h1>


      <%= @topic.name %>



<!-- <p>Your Total Following topics: -->
  <%#=  @user.followingtopic.count %>


      <%= render 'shared/tfollowers' %>     
            
                  <%= render 'shared/tfollowbutton'   %>


<br>
<% @questions.each do |q| %>
Q.<%=  q.question %>
     <br> <% end %>